body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.container .left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.container .right {
  width: 50%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .right .card {
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
  display: flex;  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  border-radius: 10px;
}

.container .right .card .top {
  width: 100%;
  height: 20%;
  background-color: #338913;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .right .card .middle {
  width: 100%;
  height: 55%;
  background-color: #e52d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .right .card .end {
  width: 100%;
  height: 25%;
  background-color: #9a73ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
