body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 10%;
}

.container header .logo {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container header .logo p {
  font-size: 20px;
  font-weight: bold;
}

.container header .navegacao {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}

.container header .navegacao nav {
  display: flex;
  gap: 40px;
  padding-left: 20px;
}

.container header .navegacao nav a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.container header .navegacao nav #home {
  font-weight: bold;
}

.container header .btns {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container header .btns a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.container header .btns button {
  border: none;
  background-color: #9563ea;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.container main {
  width: 100%;
  height: 90%;
  display: flex;
}

.container main .esquerda {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 40px;
  flex-direction: column;
}

.container main .direita {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container main .esquerda h1{
  font-size: 55px;
  font-weight: bold;
  color: #9563ea;
}

.container main .esquerda p{
  font-size: 25px;
  color: #211632;
}

.container main .esquerda button{
  width: 200px;
  height: 50px;
  border: none;
  background-color: #9563ea;
  color: white;
  font-size: 20px;
  border-radius: 30px;
}
